<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add paper</title>
</head>
<body>
    {% if session['iid'] %}
    <form method="post">
        <a href="{{url_for('admindashboard')}}"> return to dashboard</a><br>
        {{form.hidden_tag()}}
        {{form.pname.label}}{{form.pname}}
        <br>
        {{form.passm.label}}{{form.passm}}
        <br>
        {{form.nm.label}}{{form.nm}}
        <br>
        {{form.awm.label}}{{form.awm}}
        <br>
        {{form.submit}}
    </form>
    {% else %}
    <h1>login first</h1>
    {% endif %}
</body>
</html>