<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>delete question</title>
</head>
<body>
    {% if session['iid'] %}
    <a href="{{url_for('admindashboard')}}"> return to dashboard</a>
    <br>
    <form method="post">
        {{form.hidden_tag()}}
    {{form.qid.label}}{{form.qid}}
    {{form.submit}}
    {% endif %}
    </form>
    
</body>
</html>