<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>see papers</title>
</head>
<body>
    {% if session['iid'] %}
    <a href="{{url_for('admindashboard')}}"> return to dashboard</a>
    <br>
    
    <ul>
            {% for p in pap %}
            <li>
                paper id:{{p.pid}} <br>
                paper name:{{p.pname}} <br>
                passing marks:{{p.passm}} <br>
                negative marking:{{p.nm}}<br>
                answer score:{{p.awm}}<br>
            </li>
            {% endfor %}
    </ul>
    {% else %}
    <h1>login first</h1>
    {% endif %}
    
    
</body>
</html>