<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student list</title>
</head>
<body>
        <a href="{{url_for('admindashboard')}}"> return to dashboard</a>

        <br>
        <a href="{{url_for('deletestudent')}}">delete a student</a>

    <ul>
    {% for st in slist %}
    <li>student id:{{st.stid}} <br>student name:{{st.sname}} <br>institute id:{{st.iid}}</li>
    {% endfor %}
        
    </ul>
    
</body>
</html>