<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>result</title>
</head>
<body>
        name={{name}} <br>
        no of right answers={{no_right_answer}} <br> 
        no of wrong answers={{no_wrong_answer}}  <br>
        unaswered={{unaswered}} <br> 
        percentage={{percentage}} <br> 
        status={{status}}
</body>
</html>